# Build directories
build/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
install_manifest.txt
compile_commands.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.filters
*.ncb
*.opendb
*.sdf
*.cache

# Windows
Thumbs.db
Desktop.ini

# OS X
.DS_Store

# Compilers / binaries
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo

# VSCode
.vscode/

